Source: libapache2-authcassimple-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5.0.0)
Build-Depends-Indep: perl (>= 5.8.8-7ubuntu3.1)
Maintainer: yves <yves@>
Standards-Version: 3.7.2

Package: libapache2-authcassimple-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, 
Description: Apache2 module to authentificate trough a CAS server
 Apache2 module to authentificate trough a CAS server
 .
 This description was automagically extracted from the module by dh-make-perl.
